.currentTime
{
	background-color: rgb(223, 255, 216);
}

/* Shared */

body{
		overflow-y: scroll;
}

.fade.ng-enter {
	-webkit-transition: 0.2s linear all; 
	transition: 0,2s linear all;
	opacity: 0;
    transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
}

.fade.ng-enter-active
{
	opacity:1;
}


.fade.ng-leave {
	-webkit-transition: 0.2s linear all; 
	transition: 0,2s linear all;
	opacity: 1;
}

.fade.ng-leave.ng-leave-active {
  opacity: 0;
}

.fade{
	opacity:1;
}

@font-face {
    font-family: maffiaFont;
    src: url(../fonts/maffiaFont.ttf);
}

body
{
	background-color:black;
	color:yellow;
}

button
{
	color:black;
	background-color:yellow;
}

input
{
	color:black;
}

h1, h2, h3, #navbarTitle
{
	font-family:maffiaFont;
}

h1
{
	font-size:50px;
}

a{
	color:purple;
}

/* Navbar */
#navbarTitle
{
	font-size:60px;
}

/* gamesList */

/* join */
#join h1
{
	font-size:100px;
}

.vs
{
	font-family: maffiaFont;
	font-size:50px;
	margin-left:20px;
	margin-right:20px;
}

#gamesList tbody tr{
	transition: background-color 0.5s, color 0.5s;
}

#gamesList tbody tr:hover{
	background-color:yellow;
	color:purple;
}

#gameList img{
	vertical-align: text-top;
}

.bigImage, .smallImage{
	height:170px;
}

#gamesList br
{
	display:none;
}

@media screen and (max-width: 1200px) {
	
	.bigImage, .smallImage{
		height:95px;
	}
}

@media screen and (max-width: 768px) {
	#gamesList br
	{
		display:inline;
	}
	
	.bigImage{
		height:80px;
	}

	.smallImage{
		height:40px;
	}
}


/* /join */

/* home */
#home .header
{
	background-color:yellow;
	color:black;
	text-align:center;
	padding:40px;
	margin-bottom:30px;
}

#home h1{
	font-size:100px;
}

@media screen and (max-width: 500px) {
	#home img
	{
		display:none;
	}

	#home .container
	{
		margin:10px;
	}
}
