.currentTime
{
	background-color: rgb(223, 255, 216);
}

/* Shared */

body{
		overflow-y: scroll;
}

.fade.ng-enter {
	-webkit-transition: 0.2s linear all; 
	transition: 0,2s linear all;
	opacity: 0;
    transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
}

.fade.ng-enter-active
{
	opacity:1;
}


.fade.ng-leave {
	-webkit-transition: 0.2s linear all; 
	transition: 0,2s linear all;
	opacity: 1;
}

.fade.ng-leave.ng-leave-active {
  opacity: 0;
}

.fade{
	opacity:1;
}

@font-face {
    font-family: maffiaFont;
    src: url(../fonts/maffiaFont.ttf);
}

body
{
	background-color:black;
	color:yellow;
}

button
{
	color:black;
	background-color:yellow;
}

input
{
	color:black;
}

h1, h2, h3, #navbarTitle
{
	font-family:maffiaFont;
}

h1
{
	font-size:50px;
}

a{
	color:purple;
}

/* Navbar */
#navbarTitle
{
	font-size:60px;
}

/* gamesList */

/* join */
#join h1
{
	font-size:100px;
}

.vs
{
	font-family: maffiaFont;
	font-size:50px;
	margin-left:20px;
	margin-right:20px;
}

/* home */
#home .header
{
	background-color:yellow;
	color:black;
	text-align:center;
	padding:40px;
	margin-bottom:30px;
}

#home h1{
	font-size:100px;
}
