	<div class="container" id="gamesList">
		<h1>Games</h1>
		</br>
			<table class="table">
				<thead>
					<tr>
						<th>Join</th>
						<th>Name</th>
						<th>Mr.X</th>
						<th>Detectives</th>
						<th>Map</th>
					</tr>
				</thead>
			<tbody>	
			<tr data-ng-repeat="input in games | startFrom:currentPage*pageSize | limitTo:pageSize">
				<td><a href="#/join/{{ input }}">Join</a></td>
				<td> {{ input }} </td>
				<td>joker <img src="images/jokerPortret.png" height="40px"></td>
				<td>
					batman <img src="images/batmanPortret.png" height="40px">,
					robin <img src="images/robinPortret.png" height="40px">,
					catwoman <img src="images/catwomanPortret.png" height="40px">,
					gordon <img src="images/gordonPortret.png" height="40px"></td>
				<td>gotham <img src="images/gotham.png" height="40px"></td>
			</tr>			
			</tbody>
			</table>
			<div class="controls">
				<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
					Previous
				</button>
				{{currentPage+1}}/{{numberOfPages()}}
				<button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
					Next
				</button><br><br>
				<button ng-click="UpdateGames()">Refresh</button>
			<div>
    </div>