	
	<div class="container-fluid" id="home">
		<div class="row header">
			<img src="images/homeBanner.png">
			<h1>Welcome to CatchX</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nibh nunc, malesuada sagittis orci eu, mollis pulvinar lorem. Fusce commodo dolor vel diam mollis, vel venenatis nisl efficitur. Nullam aliquam pharetra nibh id blandit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur pharetra risus sit amet purus posuere, nec tincidunt felis porta. Morbi congue purus et aliquet interdum. Suspendisse potenti. Sed tortor enim, cursus non pellentesque in, pretium at eros. Phasellus quis tempor diam, ac elementum nibh. Vestibulum aliquet felis commodo blandit ultrices. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ut erat sit amet sem gravida pulvinar. Curabitur vitae lectus quis nulla pretium blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In vulputate fermentum quam, at varius sapien sagittis sed.
			</p>
			<p>
				Aenean ex metus, viverra at aliquet non, placerat sit amet dolor. Cras nec vestibulum tellus. Aenean vel tincidunt lorem. Sed sit amet enim nec nisl malesuada egestas. Suspendisse sollicitudin massa sit amet varius molestie. Integer bibendum purus id ex hendrerit, id vestibulum quam dignissim. Nulla eu nisi porttitor, vulputate sapien quis, lacinia ipsum.
			</p>
			<p>
				Praesent id ante pulvinar, eleifend ligula sit amet, consectetur orci. Integer dictum ligula et accumsan tincidunt. Maecenas interdum convallis enim, sed aliquet magna ornare eget. Maecenas sed lectus non elit pulvinar fermentum. Proin porta venenatis mollis. Morbi volutpat tincidunt sapien, eget efficitur tortor commodo id. Duis ornare faucibus sem, sed egestas lorem rutrum sed.
			</p>
		</div>
	</div>